body{background-color: #f1f1f1;}
header{
  text-transform: uppercase;
  text-align: center;
  padding: 3rem;
  color: white;
  background-color: cadetblue;
  font-size: 1.5rem;
}
.center-btn{
  display: flex;
  justify-content: space-around;
}
.border{
  border: 1px solid #000;
}
